<form
  class="form-horizontal"
  autocomplete="off"
  #editBedModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditBed' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <!-- Bed Number (disabled) -->
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="bedNumber">
        {{ "Bed Number" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="bedNumber"
          name="bedNumber"
          [(ngModel)]="bed.bedNumber"
          disabled
        />
      </div>
    </div>

    <!-- Bed Type -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="type">
        {{ "Bed Type" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          id="type"
          name="type"
          required
          [(ngModel)]="bed.type"
        >
          <option [ngValue]="null" disabled>{{ 'SelectBedType' | localize }}</option>
          <option *ngFor="let type of bedTypes" [ngValue]="type.value">
            {{ type.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- Bed Status -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="status">
        {{ "Bed Status" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          id="status"
          name="status"
          required
          [(ngModel)]="bed.status"
        >
          <option [ngValue]="null" disabled>{{ 'SelectBedStatus' | localize }}</option>
          <option *ngFor="let status of bedStatuses" [ngValue]="status.value">
            {{ status.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editBedModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
    (onSaveClick)="save()"
  ></abp-modal-footer>
</form>
