<form
  class="form-horizontal"
  autocomplete="off"
  #editenrollmentModal="ngForm"
  (ngSubmit)="update()"
>
  <abp-modal-header
    [title]="'EditEnrollment' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <!-- Courses Multi-Select Dropdown -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="courseIds">
        {{ "Courses" | localize }}
      </label>
      <div class="col-md-9">
        <p-multiSelect
          [options]="courses"
          [(ngModel)]="enrollment.courseIds"
          optionLabel="name"
          optionValue="id"
          display="chip"
          defaultLabel="Select Courses"
          name="courseIds"
          class="w-100"
        >
        </p-multiSelect>
      </div>
    </div>

    <!-- Student Dropdown -->
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="StudentId">
        {{ "Student" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          id="studentId"
          name="studentId"
          required
          [(ngModel)]="enrollment.studentId"
        >
          <option *ngFor="let student of students" [value]="student.id">
            {{ student.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editenrollmentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
    (onSaveClick)="update()"
  ></abp-modal-footer>
</form>
