<form
  class="form-horizontal"
  autocomplete="off"
  #editCourseModal="ngForm"
  (ngSubmit)="update()"
>
  <abp-modal-header
    [title]="'EditCourse' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
          maxlength="64"
          [(ngModel)]="course.name"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="description">
        {{ "Description" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          required
          [(ngModel)]="course.description"
        />
      </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="duration">
          {{ "Duration" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            id="code"
            name="duration"
            required
            maxlength="20"
            [(ngModel)]="course.duration"
          />
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="fees">
          {{ "Fees" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            id="code"
            name="fees"
            required
            maxlength="20"
            [(ngModel)]="course.fees"
          />
        </div>
      </div>

    <!-- Agar aur fields future me chahiye to yaha likh lena -->
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editCourseModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
    (onSaveClick)="update()"  
  ></abp-modal-footer>
</form>
