<form
  class="form-horizontal"
  autocomplete="off"
  #editDepartmentModal="ngForm"
  (ngSubmit)="update()"
>
  <abp-modal-header
    [title]="'EditDepartment' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="file">
        {{ "ChooseFile" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          required
          (change)="onFileChange($event)"
  
        />      </div>
    </div>
  </div>
 

  

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editDepartmentModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
    (onSaveClick)="update()"  
  ></abp-modal-footer>
</form>
